CRON_SECRET=
GROQ_API_KEY=
HEALTH_CHECK_EMAIL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NTFY_ALERT_TOPIC=
PASTORAL_ALERT_EMAIL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SUPABASE_SERVICE_ROLE_KEY=